html, body {
  margin: 0;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif; 
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Main */
.main {
  height: 600px;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg");
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  display: block;
  position: relative;
  top: 0;
}

.main h1 {
  font-size: 150px;
  color: white;
  margin: 0%;
}

.main p {
  font-size: 18px;
  color: white;
}

.btn1 {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 20px;
}

.btn1:hover {
  background-color: #ffa800;
  color: black;
}


/* Supporting */
.supporting {
  text-align: center;
  padding: 50px 0 80px;
  background-color: #1c1c1c;
  background-size: cover;
  text-align: center;
}

.col {
  float: left;
  width: 28%;
  padding: 10px;
  display: inline;
}

.supporting h2 {
  color: #ffa800;
  font-size: 20px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 12px;
}

.supporting p2 {
  color: #efefef;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 12px;
  position: relative;
  bottom: 140px;
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

.supporting a {
	position: relative;
  bottom: 100px;
}

/* Feature */
.feature {
  height: 600px;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0px auto;
}

.feature h1,
.feature h2 {
  color: #fff;
  font-size: 60px;
  margin: 0;
  padding:300px 0 0;
}


/* Footer */
.footer {
  height: 600px;
  width: 100%;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

.footer .btn {
  background-color: black;
  color: white;
  padding: 10px;
    position: relative;
  top: 100px;
}

.footer h1,
.footer h2 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 20px 0;
  position: relative;
  top: 100px;
}

.footer p {
  color: #fff;
  margin: 0 0 20px 0;
  font-size: 18px;
}

.btn:hover {
  background-color: #ffa800;
  color: white;
}

@media (min-width:600px) {
  .main h1 {
    font-size: 200px;
  }

  .supporting .col {
    width: 30%;
  }

  .supporting h2 {
    font-size: 40px;
  }

  .supporting p {
    font-size: 14px;
  }

  .feature h2 {
    font-size: 60px;
  }
}